/* Clock inspired by: https://paulund.co.uk/create-a-clock-in-css */

.clock {
  background: #fff;
  border: var(--border-size) solid #7a7a7a;
  border-radius: 50%;
  box-sizing: border-box;
  height: var(--size);
  margin: 0 auto;
  position: relative;
  width: var(--size);
}

.twelve,
.three,
.six,
.nine {
  background: #333;
  position: absolute;
}

.twelve,
.six {
  height: calc( var(--border-size)  * 1);
  width: calc( var(--border-size)  * 0.2);
}

.three,
.nine {
  height: calc( var(--border-size)  * .2);
  width: calc( var(--border-size)  * 1);
}

.twelve {
  left: calc(50% - calc( var(--border-size)  * 0.1));
  top: calc( var(--border-size)  * -0.5);
}

.three {
  top: calc(50% - calc( var(--border-size)  * 0.1));
  right: calc( var(--border-size)  * -0.5);
}

.six {
  left: calc(50% - calc( var(--border-size)  * 0.1));
  bottom: calc( var(--border-size)  * -0.5);
}

.nine {
  top: calc(50% - calc( var(--border-size)  * 0.1));
  left: calc( var(--border-size)  * -0.5);
}

.hour {
  height: calc( var(--size)  * 0.2);
  width: calc( var(--border-size)  * .3);
  background:  #333;
  position: absolute;
  left: calc(50% - calc( var(--border-size)  * 0.15));
  top: calc(calc( var(--size)  * 0.5) - calc( var(--size)  * 0.2) - var(--border-size));
  animation: tick 43200s infinite linear;
  -webkit-animation: tick 43200s infinite linear;
}

.minute {
  height: calc( var(--size)  * 0.3);
  width: calc( var(--border-size)  * .3);
  background: #777;
  position: absolute;
  left: calc(50% - calc( var(--border-size)  * 0.15));
  top: calc(calc( var(--size)  * 0.5) - calc( var(--size)  * 0.3) - var(--border-size));
  animation: tick 3600s infinite linear;
  -webkit-animation: tick 3600s infinite linear;
}

.second {
  height: calc( var(--size)  * 0.4);
  width: calc( var(--border-size)  * .15);
  background: #fc0505;
  position: absolute;
  left: calc(50% - calc( var(--border-size)  * 0.075));
  top: calc(calc( var(--size)  * 0.5) - calc( var(--size)  * 0.4) - var(--border-size));
  animation: tick 60s infinite linear;
  -webkit-animation: tick 60s infinite linear;
}

.hour,
.minute,
.second {
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}
